* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: 'Poppins', sans-serif;
}

/* GENERALS */
.galaxy-typo {
    font-family: 'Oswald', sans-serif;
}

/* NAVBAR */
.navegation-bar {
    background: rgb(203, 32, 45);
    background: linear-gradient(180deg, rgba(203, 32, 45, 1) 42%, rgba(0, 0, 0, 1) 100%);
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

.logo-box {
    text-align: center;
}

.galaxy-burger-logo {
    width: 10vw;
}

.galaxy-burger-header {
    text-shadow: 1px 1px 3px #fff;
}

.navbar-links,
.book-a-table {
    color: #fff;
}

.navbar-links:hover,
.nav-link-active {
    background-color: #fff;
    color: #000;
    border-radius: 0.2em;
}


.book-a-table {
    border: 1px solid #fff;
    padding: 1em;
    text-align: center;
}

.book-a-table:hover {
    background-color: #000;
    color: #fff;
}

/* HOME */
    /* CONTENT */

    .space-menu-header,
    .space-menu-price {
        font-size: 2em;
        color: #cb202d;
    }

    .space-menu-header {
        text-shadow: 1px 2px 1px #444;
    }

    .space-menu-item {
        font-size: 1.2em;
        background-color: #cb202d;
        color: #fff;
        padding: .2em .4em;
        text-shadow: 1px 1px 1px #444;
    }

    .space-menu-cont {
        height: 20vh;
    }

/* MENU */
.menu {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px 40px;
}

.food-items {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
}

.food-items img {
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details {
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}

.details-sub {
    display: grid;
    grid-template-columns: auto auto;
}

.details-sub>h5 {
    font-weight: 600;
    font-size: 18px;
}

.price {
    text-align: right;
}

.details>p {
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}

.details>button {
    background-color: #cb202d;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}

/* CONTACT */
.form-floating > textarea {
    resize: none;
}


/* FOOTER */

footer {
    margin-top: 3em;
    color: #000;
}

.contact-footer {
    position: fixed;
    bottom: 0;
}
    /* FOOTER - INFO */
    .footer-info-header {
        color: #000;
    }

    /* FOOTER - IFRAME*/
    .footer-map-container {
        /* border: 1px solid black; */
    }

    /* FOOTER - SOCIAL MEDIA */
    footer .fa-brands {
        font-size: 2em;
        padding-top: .5em;
        margin: .5em;
    }